# =========================
# STM32CubeIDE / Eclipse
# =========================
.metadata/
.settings/

# =========================
# Build folders
# =========================
Debug/
Release/

# =========================
# Compiled files
# =========================
*.o
*.d
*.elf
*.map
*.list
*.su
*.cyclo

# =========================
# Logs / temp
# =========================
*.log
*.tmp
*.lock

# =========================
# Archives
# =========================
*.zip
*.rar

# =========================
# Optional (IDE files)
# =========================
*.launch